@font-face {
  font-family: "roboto_slabregular";
  src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue-green: #0291c3;
  --mantis: #67b358;
  --selective-yellow: #ffba1e;
  --rose-pink: #fe66ca;
  --lavendar: #cd93f9;
  --black: #000000;
  --white: #ffffff;
  --font-title: "roboto_slabregular";
  --font-text: "robotoregular";
}

/* ----- General Styling ----- */

* {
  box-sizing: border-box;
}

html {
  background: url(../images/adventure-time-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: var(--blue-green);
  color: var(--white);
  text-align: center;
  margin-top: 50px;
  font-family: var(--font-title);
  font-size: 50px;
}

h2 {
  font-family: var(--font-text);
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  font-family: var(--font-text);
  padding: 40px;
}

button img {
  max-width: 100%;
  height: auto;
}

/* ----- Zodiac Input Box ----- */

.zodiac-input {
  background-color: var(--white);
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px;
}

#find-out-now {
  background-color: var(--mantis);
  padding: 5px;
  color: var(--white);
}

#date-selection {
  font-family: var(--font-text);
  font-size: 16px;
}

/* ----- Adventure Time Zodiac Grid ----- */

.zodiac-choice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 50px;
  justify-content: flex-start;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.zodiac-choice button {
  background-color: var(--white);
  padding: 10px;
  margin-top: 30%;
}

/* ----- Zodiac Description Box ----- */

.zodiac-description {
  height: 5px;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 60px;
}

.zodiac-description p {
  background-color: var(--white);
  flex: 1;
  width: 30px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.exit-description {
  background-color: var(--rose-pink);
  padding: 20px;
  justify-content: center;
  margin-right: 50px;
}

/* ----- Help Button / Instructions ----- */

dialog {
  background-color: var(--lavendar);
  border: var(--rose-pink);
  font-family: var(--font-text);
  font-size: 18px;
  max-width: 430px;
  text-align: center;
}

#help-button {
  background-color: var(--selective-yellow);
  font-size: 25px;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.help-instructions {
  display: flex;
  position: fixed;
  top: 160px;
  right: 350px;
  margin: 10px;
}

.exit-instructions {
  background-color: var(--rose-pink);
  padding: 15px;
  width: 350px;
}
